@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh; 
    /* background: #082f49; */
}

.main-content-holder {
    max-width: 1300px;
    width: 100%;
}
